/* ------------- global -------------*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', serif;
  box-sizing: border-box;
}

/* ------------- header -------------*/

.header-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.header-container__text {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./asset/header-background.jpg);
  height: 50vw;
  max-height: 400px;
  background-size: cover;
  background-position-y: -120px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-top: 10%;
  gap: 2rem;
  color: whitesmoke;
  padding: 0 2em;
  margin: 0px;
  display: flex;
  align-items: center;
}

.header-container__text h1 {
  font-weight: 800;
  font-size: 8vw;
}

.header-container__text h4 {
  font-weight: 700;
  font-size: 3vw;
}

.search-container {
  position: relative;
  top: -18px;
  margin: 0 auto;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  width: 80%;
  display: flex;
  background: #fff;
  max-width: 500px;
}

.search-container input[type='text'] {
  width: 80%;
  height: 2.1rem;
  border: none;
  border-radius: 6px 0 0 6px;
  padding: 0 5px 0 30px;
  background-image: url('./asset/search-icon.png');
  background-repeat: no-repeat;
  background-position: 8px 8px;
  background-size: 15px;
  border: none;
  outline-width: 0;
  color: #6b7280;
}

.search-container button {
  width: 20%;
  height: 2.1rem;
  border: none;
  border-left: 1px solid #d1d5db;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.search-container button:active {
  background: #c5c5c5;
  transform: scale(0.998);
}

/* ------------- main -------------*/

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(50vh - 2.5rem);
  margin: 0 auto;
  max-width: 500px;
}

.default-text {
  color: #dfdddd;
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 0.5em;
}

.no-search {
  text-align: center;
  margin-top: 3em;
}

/* ------------- search-result -------------*/

.search-result {
  display: flex;
  gap: 2em;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1.5px solid #e5e7eb;
  justify-content: space-between;
}

.media-detail {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 500px;
}

.media-detail__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.media-detail__sub-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.media-detail__watchlist {
  display: flex;
  align-items: center;
  gap: 0.3em;
  min-width: 100px;
  justify-content: flex-end;
}
.media-detail__watchlist-btn {
  width: 16px;
  cursor: pointer;
}

.media-detail__remove-btn {
  cursor: pointer;
  width: 16px;
}

.media-detail__poster {
  width: 130px;
}

.media-detail__rating {
  min-width: 50px;
}

.media-detail__run-time {
  max-width: 50px;
}

.media-detail__genre {
  max-width: 160px;
}

.add-media-container {
  display: flex;
  align-items: center;
  margin: 1.25em 0;
}

.add-media-to-watchlist {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  line-height: 0.875rem;
  text-align: center;
  display: inline;
  margin-left: 0.7em;
}

/* ------------- util classes -------------*/

.no-link {
  text-decoration: none;
  color: white;
}

.no-media-msg {
  font-weight: 700;
  font-size: 1.125rem;
  color: #dfdddd;
  text-align: center;
  margin-top: 30%;
}

/* ------------- media queries -------------*/

@media (max-width: 500px) {
  .search-result {
    flex-direction: column;
    gap: 0px;
  }

  .media-detail {
    max-width: 80vw;
    padding: 20px;
    box-sizing: border-box;
  }
}

@media (min-width: 900px) {
  .header-container__text {
    background-position-y: -300px;
  }

  .header-container__text h1 {
    font-size: 4vw;
  }

  .header-container__text h4 {
    font-size: 2vw;
  }
}
